parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$callback of function usort expects callable\(array\<string, mixed\>, array\<string, mixed\>\)\: int, Closure\(mixed, mixed\)\: \(float\|int\|false\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/ComponentParser.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:generate\(\) has parameter \$opts with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:generate\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:palette\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:resolveDimensions\(\) has parameter \$opts with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:resolveDimensions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:subjectAbstract\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:subjectArchitecture\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:subjectAvatar\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:subjectFood\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:subjectLandscape\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:subjectPortrait\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:subjectProduct\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:svg\(\) has parameter \$opts with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Placeholder\:\:svg\(\) has parameter \$palette with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Placeholder.php

		-
			message: '#^Method Parisek\\Styleguide\\Renderer\:\:__construct\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Renderer.php

		-
			message: '#^Method Parisek\\Styleguide\\Renderer\:\:render404\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Renderer.php

		-
			message: '#^Method Parisek\\Styleguide\\Renderer\:\:renderBody\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Renderer.php

		-
			message: '#^Method Parisek\\Styleguide\\Styleguide\:\:classifyAspect\(\) has parameter \$image with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Method Parisek\\Styleguide\\Styleguide\:\:dispatchApi\(\) has parameter \$route with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Method Parisek\\Styleguide\\Styleguide\:\:dispatchRender\(\) has parameter \$route with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Method Parisek\\Styleguide\\Styleguide\:\:dispatchSpa\(\) has parameter \$route with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Method Parisek\\Styleguide\\Styleguide\:\:renderNamespaced\(\) has parameter \$content with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Method Parisek\\Styleguide\\Styleguide\:\:renderNamespaced\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Offset ''path'' might not exist on array\{type\: ''asset'', slug\?\: string, kind\?\: string, endpoint\?\: string, path\?\: string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Property Parisek\\Styleguide\\Styleguide\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php

		-
			message: '#^Property Parisek\\Styleguide\\Styleguide\:\:\$yamlConfig type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Styleguide.php
